.app {
  padding-block: remy(112) remy(55);
  background-color: var(--ac);
  color: #fff;
  position: relative;


  &-container {
    width: 100%;
    max-width: remy(955);
    margin: 0 auto;
    display: flex;
    gap: remy(70);

    @media (max-width: remy(1199)) {
      gap: remy(40);
    }

    @media (max-width: remy(991)) {
      padding: 0 remy(16);
      flex-direction: column;
    }

    @media (max-width: remy(767)) {
      padding: 0 remy(28);

    }
  }

  &-content {
    max-width: remy(489);
    flex-shrink: 0;
    line-height: 2.31;

    .h4 {
      margin-bottom: remy(4);
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &-links__group {
    display: flex;
    align-items: center;
    gap: remy(12);

    a {
      flex-shrink: 0;
    }

    img {
      width: remy(136);
      height: remy(40);
    }
  }

  @media (max-width: remy(1199)) {
    z-index: 2;
  }

  @media (max-width: remy(767)) {
    padding-top: remy(51);
    padding-bottom: remy(98);
    overflow: hidden;

    &-content {
      line-height: 2.06;

      .h4 {
        margin-bottom: remy(10);
      }

      &__text {
        margin-bottom: remy(30);
      }
    }
  }
}

.app::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: remy(20);
  background-color: #EDEDED;
  z-index: 2;
  display: none;

    @media (max-width: remy(991)) {
        display: block;
    }
}

.app-images {
  display: flex;
  gap: remy(32);
  margin-top: remy(-137);

  &__item {
    width: remy(232);
    flex-shrink: 0;

    img {
      filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));
    }
  }

  &__item:last-child {
    position: relative;
    top: remy(137);
  }

  @media (max-width: remy(1199)) {
    gap: 1rem;
    &__item {
      width: remy(200);
    }

    &__item:last-child {
      top: remy(175);
    }
  }

  @media (max-width: remy(991)) {
    margin-top: remy(40);
    position: relative;
    z-index: 3;

    &__item:last-child {
      top: remy(85);
    }
  }

  @media (max-width: remy(767)) {
    &__item {
      width: remy(166);
    }
    &__item:last-child {
      top: remy(123);
    }
  }
}

