$text: #252525;
$sec1: #424242;
$sec2: #858585;
$sec3: #D2D2D2;
$sec4: #EDEDED;
//
//$ac: #E43071;
//$subAc: #FFC1D8;
//$outBg: #FFDAE7;

$footerBg: #0B0D17;
$footerText: #D9DBE1;

body{
  --text: #252525;
  --sec1: #424242;
  --sec2: #858585;
  --sec3: #D2D2D2;
  --sec4: #EDEDED;

  --ac: #E43071;
  --subAc: #FFC1D8;
  --outBg: #FFDAE7;
}
